@media (min-width:760px) {
    header{
        background:url(../assets/home/tablet/hero-image.jpeg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        &::after{

            background-color: rgba(0, 0, 0, 0.562);

        }

        .navcontainer{

            width: 80%;
        
    
            ul{
                position: unset;
                top: unset;
                width: 60%;
                height: unset;
                padding: unset;
                display: flex !important;
                flex-direction: row;
                justify-content: space-between;
                margin-top: unset;
                
                background-color: unset;
                li{
                    list-style: none;
                    text-transform:capitalize;
                    
                    font-weight: 600;
                    cursor: pointer;

                    .myLink{
                        color: $white;
                        text-decoration: none;
                        font-size: 14px;
                        transition: 1s ease-in-out;

                        &:hover{
                            color: $light-blue;
                        }
                    }
                    
                }
    
            }
            .hamIcons{
                display: none;
    
            }
        }

        //HEROTEXT

        .hero-container{
            .hero-text{
                h1{
                    font-size: 5rem;
                    
                }
            }

        }

        .formDiv{
            form{
                flex-direction: row;
                align-items: center;
                .mainSelect{
                    width: 37%;
                    margin-bottom: unset;
                    
                }
        
                .subSelect{
                    width: 37%;
                    margin-bottom: unset;
                }
    
        
                button{
                    width: 20%;
                    margin: unset;
                }
            }
        }

        
    
    }    
    
    //BODY

    main,.afro-container{

        .subMain-container{
            text-align: left;

            .grid-container{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 20px;
                text-align: center;
            }

            .bucketlist,.visited,.read-more{
                
                width: 100% !important;
            }

            .site-name{
                min-height: 70px;
                font-size: 15px !important;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .site-container{
                .read-more{
                    margin-top: 13px;
                }

            }
            .site-image{
                width: 100%;
                height:400px !important;
            }

        
            
        }

    }

    .afro-container{
        .navcontainer{

            width: 80%;
        
    
            ul{
                position: unset;
                top: unset;
                width: 60%;
                height: unset;
                padding: unset;
                display: flex !important;
                flex-direction: row;
                justify-content: space-between;
                margin-top: unset;
                
                background-color: unset;
                li{
                    list-style: none;
                    text-transform:capitalize;
                    
                    font-weight: 600;
                    cursor: pointer;

                    .myLink{
                        color: $white;
                        text-decoration: none;
                        font-size: 14px;

                        &:hover{
                            color: $light-blue;
                        }
                    }
                    
                }
    
            }
            .hamIcons{
                display: none;
    
            }
            
        }

        .mapContainerDiv{
            width: 100%;
            height: 500px !important;
            
        }
        
    }
}

