* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100%;
  display: block;
}

//FLEX MIXIN

@mixin flex($f-d, $just, $align, $width) {
  display: flex;
  flex-direction: $f-d;
  justify-content: $just;
  align-items: $align;
  width: $width;
}

@mixin header($bg-position, $size, $repeat, $position, $height) {
  background-position: $bg-position;
  background-size: $size;
  background-repeat: $repeat;
  position: $position;
  height: $height;
}

@mixin formButton($width, $bg-color, $color, $f-weight) {
  width: $width;
  height: 37px;
  background-color: $bg-color;
  border: none;
  outline: none;
  border-radius: 5px;
  color: $color;
  text-transform: uppercase;
  font-weight: $f-weight;
  cursor: pointer;
}

@mixin siteButtons($width, $font-size, $padding, $color, $font-weight) {
  width: $width;
  font-size: $font-size;
  padding: $padding;
  border-radius: 5px;
  color: $color;
  text-transform: uppercase;
  font-weight: $font-weight;
  text-align: center;
  cursor: pointer;
}

@mixin headerAfter {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  background-color: rgba(0, 0, 0, 0.719);
  top: 0;
  left: 0;
  z-index: 1;
}
