* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  display: block;
}

header {
  background: url(../assets/home/mobile/hero-image.jpeg);
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

header::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  background-color: rgba(0, 0, 0, 0.719);
  top: 0;
  left: 0;
  z-index: 1;
}

header nav {
  position: relative;
  z-index: 1050;
}

header .navcontainer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: auto;
}

header .navcontainer .logo {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

header .navcontainer ul {
  background-color: #FFFFFF;
  position: absolute;
  top: 3rem;
  width: 100%;
  height: 300px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6px;
  background-color: #e6e6e6;
}

header .navcontainer ul li {
  list-style: none;
  text-transform: uppercase;
  color: #0A3B5F;
  font-weight: 700;
  cursor: pointer;
}

header .navcontainer .hamIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navcontainer .hamIcons img {
  filter: invert(84%) sepia(99%) saturate(0%) hue-rotate(93deg) brightness(108%) contrast(100%);
  cursor: pointer;
}

header .navcontainer .hamIcons .hamClose {
  display: none;
}

header .navLine {
  background-color: rgba(255, 255, 255, 0.63);
  height: 1px;
  width: 100%;
  margin-top: 5px;
  position: relative;
  z-index: 5;
}

header .hero-container {
  width: 80%;
  margin: auto;
  margin-top: 60px;
}

header .hero-container .hero-text {
  position: relative;
  z-index: 4;
  align-items: left;
  margin-top: 100px;
}

header .hero-container .hero-text h1 {
  color: white;
  margin-bottom: 5px;
  font-size: 2.5rem;
}

header .hero-container .hero-text h1 span {
  color: #67BBF8;
}

header .hero-container .hero-text .Hero-subheading {
  color: rgba(255, 255, 255, 0.801);
  line-height: 1.7;
  font-size: 13px;
}

header .formDiv {
  margin: auto;
  position: relative;
  z-index: 1000;
  cursor: pointer;
  width: 100%;
  margin-top: 70px;
}

header .formDiv form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

header .formDiv form .mainSelect {
  width: 100%;
  margin-bottom: 10px;
  height: 37px;
  background-color: #FFFFFF;
  border: unset;
  outline: none;
  border-radius: 5px;
  color: #0A3B5F;
  text-transform: uppercase;
  font-weight: 700;
}

header .formDiv form .subSelect {
  width: 100%;
  margin-bottom: 10px;
  height: 37px;
  background-color: #FFFFFF;
  border: unset;
  outline: none;
  border-radius: 5px;
  color: #0A3B5F;
  text-transform: uppercase;
  font-weight: 700;
}

header .formDiv form button {
  width: 50%;
  height: 37px;
  background-color: #0A3B5F;
  border: unset;
  outline: none;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  margin: auto;
  font-weight: 500;
  text-transform: uppercase;
}

main, .afro-container {
  margin: 20px auto auto auto;
  width: 80%;
}

main .subMain-container .explore-container, .afro-container .subMain-container .explore-container {
  color: #0A3B5F;
}

main .subMain-container .explore-container .explore, .afro-container .subMain-container .explore-container .explore {
  font-weight: 700;
  margin-bottom: 5px;
}

main .subMain-container .explore-container .explore-subtext, .afro-container .subMain-container .explore-container .explore-subtext {
  margin-bottom: 10px;
  font-size: 12px;
}

main .subMain-container .site-container .site-image, .afro-container .subMain-container .site-container .site-image {
  width: 300px;
  height: 300px;
  margin-bottom: 8px;
}

main .subMain-container .site-container .site-image img, .afro-container .subMain-container .site-container .site-image img {
  width: 100%;
  height: 100%;
}

main .subMain-container .site-container .site-country, .afro-container .subMain-container .site-container .site-country {
  margin-bottom: 8px;
  color: #67BBF8;
  font-weight: 600;
  font-size: 12px;
}

main .subMain-container .site-container .site-name, .afro-container .subMain-container .site-container .site-name {
  margin-bottom: 8px;
  color: #0A3B5F;
  font-weight: 600;
  font-size: 18px;
}

main .subMain-container .site-container .bucketlist, main .subMain-container .site-container .visited, main .subMain-container .site-container .read-more, .afro-container .subMain-container .site-container .bucketlist, .afro-container .subMain-container .site-container .visited, .afro-container .subMain-container .site-container .read-more {
  background-color: #67BBF8;
  margin-bottom: 15px;
  width: 50%;
  font-size: 10px;
  padding: 10px 8px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

main .subMain-container .seeMore, .afro-container .subMain-container .seeMore {
  /* Rectangle 18 */
  background: rgba(103, 187, 248, 0.17);
  border-radius: 5px;
  margin-bottom: 50px;
  width: 80%;
  padding: 10px;
}

main .subMain-container .seeMore p, .afro-container .subMain-container .seeMore p {
  text-transform: uppercase;
  text-align: center;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  color: #0A3B5F;
}

.afro-container {
  width: 100%;
  margin-top: 0;
  position: relative;
  min-height: 100vh;
}

.afro-container .subMain-container {
  width: 80%;
  margin: auto;
}

.afro-container nav {
  position: relative;
  z-index: 1050;
  background-color: #0A3B5F;
}

.afro-container .navcontainer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: auto;
}

.afro-container .navcontainer .logo {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

.afro-container .navcontainer ul {
  background-color: #FFFFFF;
  position: absolute;
  top: 2.6rem;
  width: 100%;
  height: 300px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6px;
  background-color: #e6e6e6;
}

.afro-container .navcontainer ul li {
  list-style: none;
  text-transform: uppercase;
  color: #0A3B5F;
  font-weight: 700;
  cursor: pointer;
}

.afro-container .navcontainer .hamIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.afro-container .navcontainer .hamIcons img {
  filter: invert(84%) sepia(99%) saturate(0%) hue-rotate(93deg) brightness(108%) contrast(100%);
  cursor: pointer;
}

.afro-container .navcontainer .hamIcons .hamClose {
  display: none;
}

.afro-container .siteDetailsContainer {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.afro-container .siteDetailsContainer .site-country-region {
  font-size: 14px;
}

.afro-container .siteDetailsContainer .siteCountry {
  margin: 10px 0px 5px 0px;
}

.afro-container .siteDetailsContainer .site-image {
  margin: 20px 0px;
}

.afro-container .siteDetailsContainer .site-description {
  margin: 10px 0px;
}

.afro-container .siteDetailsContainer .site-description h5 {
  margin: 5px 0px;
  color: #0A3B5F;
}

.afro-container .siteDetailsContainer .site-description .site-description-text {
  font-size: 14px;
  line-height: 1.7;
}

.afro-container .siteDetailsContainer .second-details-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.afro-container .siteDetailsContainer .second-details-div .subCategory {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.afro-container .siteDetailsContainer .second-details-div .subCategory .sub-sub-category {
  display: flex;
  margin-bottom: 10px;
}

.afro-container .siteDetailsContainer .second-details-div .subCategory .sub-sub-category i {
  font-size: 10px;
  color: #67BBF8;
}

.afro-container .siteDetailsContainer .second-details-div .subCategory .sub-sub-category p {
  margin-left: 10px;
  font-size: 10px;
  text-transform: uppercase;
  color: #67BBF8;
}

.afro-container .siteDetailsContainer .second-details-div .subCategory .details-text {
  font-weight: 700;
  color: #0A3B5F;
}

.afro-container .siteDetailsContainer .second-details-div .Save-container {
  margin: 20px 0px;
}

.afro-container .siteDetailsContainer .second-details-div .Save-container .bucketlist, .afro-container .siteDetailsContainer .second-details-div .Save-container .visited, .afro-container .siteDetailsContainer .second-details-div .Save-container .read-more {
  background-color: #0A3B5F;
  margin-bottom: 15px;
  width: 100%;
  font-size: 10px;
  padding: 10px 8px;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.afro-container .siteDetailsContainer .mapContainerDiv {
  width: 100%;
  height: 400px;
}

.afro-container .subMain-container {
  margin-top: 50px;
}

.afro-container .bucketempty {
  width: 300px;
  height: 300px;
  text-align: center;
}

footer {
  margin-top: 50px;
  background: #0A3B5F;
  text-align: center;
  padding: 30px 0px;
}

footer nav {
  width: 100%;
  align-items: center;
  margin-top: 10px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
  flex-direction: column;
}

footer nav .logo {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

footer nav ul {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
}

footer nav ul li {
  list-style: none;
  margin-top: 10px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

footer .footerSecondDiv {
  margin-top: 20px;
}

footer .footerSecondDiv .footerSecondText {
  width: 90%;
  margin: auto;
  color: white;
  font-size: 14px;
}

footer .copyIcon {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  color: white;
}

footer .icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 30px auto auto auto;
  cursor: pointer;
}

.form-container nav {
  position: relative;
  z-index: 1050;
  background-color: #0A3B5F;
}

.form-container .navcontainer {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  margin: auto;
}

.form-container .navcontainer .logo {
  color: #FFFFFF;
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
}

.form-container .navcontainer ul {
  background-color: #FFFFFF;
  position: absolute;
  top: 2.6rem;
  width: 100%;
  height: 300px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 6px;
  background-color: #e6e6e6;
}

.form-container .navcontainer ul li {
  list-style: none;
  text-transform: uppercase;
  color: #0A3B5F;
  font-weight: 700;
  cursor: pointer;
}

.form-container .navcontainer .hamIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container .navcontainer .hamIcons img {
  filter: invert(84%) sepia(99%) saturate(0%) hue-rotate(93deg) brightness(108%) contrast(100%);
  cursor: pointer;
}

.form-container .navcontainer .hamIcons .hamClose {
  display: none;
}

.form-container .formDesigns {
  width: 80%;
  margin: 50px auto auto auto;
}

.form-container .formDesigns i {
  display: none;
}

.form-container .formDesigns .LoginHeader {
  background-color: #0A3B5F;
  margin-bottom: 20px;
  color: white;
  padding: 20px;
}

.form-container .formDesigns .LoginHeader h3 {
  margin-bottom: 10px;
}

.form-container .formDesigns .form-inputss .form-control {
  display: flex;
  flex-direction: column;
}

.form-container .formDesigns .form-inputss .form-control label {
  margin-bottom: 10px;
}

.form-container .formDesigns .form-inputss .form-control input {
  padding: 10px;
  margin-bottom: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
}

.form-container .formDesigns .form-inputss .form-control input:focus {
  border: 1px solid #67BBF8;
}

.form-container .formDesigns .form-inputss .form-control .error {
  color: #b93333;
  margin-bottom: 10px;
  font-size: 12px;
}

.form-container .formDesigns .form-inputss button {
  background-color: #0A3B5F;
  width: 100%;
  height: 40px;
  outline: none;
  border: none;
  margin: 10px 0px;
  color: white;
  font-weight: 700;
  font-size: 17px;
  border-radius: 5px;
}

.form-container .formDesigns .signinLink {
  font-size: 14px;
  color: #0A3B5F;
}

.form-container .formDesigns .signinLink .link {
  text-transform: uppercase;
  color: #0A3B5F;
  text-decoration: none;
  font-weight: 600;
}
